<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Name tbd...</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Comfortaa:wght@300&family=Lobster&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/styles.css">
</head>

<body>  
    <nav id="mainNav" class="navbar navbar-dark navbar-expand-md pt-2 pb-0 fixed-top">
        <a href="index.html" class="navbar-brand">Chocolate</a>
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navLinks" aria-label="Toggle Navigation Bar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navLinks" class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="home.html" class="nav-link">Home</a>
                    </li>

                    <li class="nav-item">
                        <a href="bookmarks.html" class="nav-link">Bookmarks</a>
                    </li>
                    
                    <li class="nav-item">
                        <a href="support.html" class="nav-link">Support</a>
                    </li>                
                </ul>
            </div>
        </nav>

        <section class="container-fluid px-0">
            <div class="row align-items-center content">
                <div id="headings" class="text-white text-center d-none d-lg-block mg-top-5">
                    <h1><span>/ </span>The <span>Chocolate</span> Museum<span> \</span></h1>
                    <br>
                </div>
            </div>
        </section>

        <section class="container-fluid px-0">
            <div class="row align-items-center content">
                    <div class="row justify-content-center">
                        <div class="col-10 col-lg-8">
                            <hr class="" id="chocolines">
                            <div class="justify-content-center"></div>
                            <h2><center>Chocolate Museum</center></h2>
                            <br><center>游꼴游꼴游꼴</center><br><br>
                            <p class="lead text-center">Chocolate sprinkled, chocolate ball. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur quas at dicta, quos sed pariatur quibusdam quam nisi accusamus officiis tempore ratione soluta, dolores temporibus a, explicabo quisquam facere praesentium?</p>
                            <hr class="" id="chocolines">
                        </div>
                    </div>    
            </div>

            <div class="row justify-content-center">
                <div class="col-10 col-lg-8">
                    <hr class="" id="chocolines">
                    <div class="justify-content-center"></div>
                    <h2><center>Chocolate Museum</center></h2>
                    <br><center>游꼴游꼴游꼴</center><br><br>
                    <p class="lead text-center">Chocolate sprinkled, chocolate ball. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur quas at dicta, quos sed pariatur quibusdam quam nisi accusamus officiis tempore ratione soluta, dolores temporibus a, explicabo quisquam facere praesentium?</p>
                    <hr class="" id="chocolines">
                </div>    
            </div>
        </section>

        <div class = "container-fluid pt-3 text-center">
            <div class="search_Button">
                <button type="button" href="results.html" class="btn btn-outline-info bg-white">Search Recipe</button>
            </div>

            <div class="howTo_Button pt-4">
                <button type="button" href="instructions.html" class="btn btn-outline-info">How to use name tbd...</button>  
            </div>    
        </div>

        <div class="container-fluid pt-5">
            <div class="bottom-nav text-center">
                <p>Github Repository</p>
                <strong><a class="footer-linkG" href="https://github.com/Nickysterling/hack-the-6ix">Github</a>
                <p>춸 2021 Made By Zeerak, Nicholas, Keshav, Samhith.</p></strong>
            </div>        
        </div>

        <script src="app.js"></script>    
    </body>
</html>