<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Official RecipeHunt Support</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Comfortaa:wght@300&family=Lobster&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/stylesSup.min.css">
</head>

<body>

    <nav id="mainNav" class="navbar navbar-dark navbar-expand-md pt-2 pb-0 fixed-top">
        <a href="/" class="navbar-brand">RecipeHunt</a>
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navLinks" aria-label="Toggle Navigation Bar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navLinks" class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/support" class="nav-link">Support</a>
                    </li>                
                </ul>
            </div>
        </nav>

    <input id="scene-1" type="radio" name="scene" value="1" checked />
<input id="scene-2" type="radio" name="scene" value="2" />
<input id="scene-3" type="radio" name="scene" value="3" />
<input id="scene-4" type="radio" name="scene" value="4" />

<main class="site">
	<div class="landscape">
		<div class="landscape-text">
			Support
		</div>
	</div>
	<div class="left-side">
		<div class="page-numbers" data-total='04'>
			<div class="page-number page-number--tens">0</div>
			<div class="page-number page-number--ones">
				<div>1</div>
				<div>2</div>
				<div>3</div>
				<div>4</div>
			</div>
		</div>
	</div>
	<div class="hero">
		<div class="layer" data-scene="1">
			<h1 class="heading">
				About our Service
			</h1>
		</div>
		<div class="layer" data-scene="2">
			<h1 class="heading">
				Instructions
			</h1>
		</div>
		<div class="layer" data-scene="3">
			<h1 class="heading">
				Contact Us
			</h1>
		</div>
		<div class="layer" data-scene="4">
			<h1 class="heading">
				Feedback
			</h1>
		</div>
		<nav class="slide-nav">
			<div class="button-container">
				<button class="nav-button"> Previous </button>
				<button class="nav-button"> Next </button>
			</div>
			<div class="nav-button-container">
				<label class="nav-button" for="scene-1" data-scene="1">1</label>
				<label class="nav-button" for="scene-2" data-scene="2">2</label>
				<label class="nav-button" for="scene-3" data-scene="3">3</label>
				<label class="nav-button" for="scene-4" data-scene="4">4</label>
			</div>
		</nav>
	</div>
	<div class="right-content">
		<div class="layer" data-scene="1">
			<h2 class="heading">Objective of RecipeHunt</h2>
			<p class="paragraph">
				RecipeHunt is a platform that allows users to find recipes based on the ingrdients that they have at home. When the ingredients are selected, the application will provide a list of recipes that use those ingredients. 
			</p>
		</div>
		<div class="layer" data-scene="2">
			<h2 class="heading">How to use the Platform</h2>
			<p class="paragraph">
				RecipeHunt has been designed to be a very simple and user friendly platform to use! <br><br>
				First, the user must select the ingredients that they have in stock. If the ingredient is not listed, the search bar in the top left of the screen can be used to add it. <br><br>
				Finally, after selecting the ingredients, the user must click the search button. This will return a list of links that contain recipes relating to the selected ingredients.
			</p>
		</div>
		<div class="layer" data-scene="3">
			<h2 class="heading">Our Contact Info</h2>
			<p class="paragraph">
				Zeerak Asim: 20za2@queensu.ca <br>
				Samhith Sripada: 20ss18@queensu.ca <br>
				Keshav Aggarwal: 19ka47@queensu.ca <br>
				Nicholas Seegobin: 20nss@queensu.ca	<br>
			</p>
		</div>
		<div class="layer" data-scene="4">
			<h2 class="heading">
				<form action="/action_page.php">
					<label for="fname">What can we Improve?:</label><br>
					<input type="text" id="fname" name="fname" value=""><br>
					<a type="button" id = "footer-linkG" href="/" class="btn pt-2 pb-2" role="button">Submit</a>
				</form>
			</h2>
		</div>
	</div>
</main>

</body>