html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body{
    background-color: #Fefbea;
    /* background-color: #001B3D; */
    font-family: 'Comfortaa', sans-serif;
}

/* .bottom_Buttons{
    background-color: 
}*/

h2{
    color:#7d0505;
    font-weight: 100;
    font-size: 2.5rem;
}

p{
    color:#000;
    line-height: 2;
    font-weight: 100;
    font-size: 1.15rem;
}

.content{
    margin-top: 100px;
}

#mainNav {
    font-size: 1.5rem;
    font-weight: 100;
    padding-left: 1em;
    background-color: #000;
}

#navLinks .nav-link {
    color:white;
}

#navLinks .nav-link:hover {
    color:#7d0505;
}

#mainNav .navbar-brand{
    color: #ffff;
    font-size: 1.8rem;
    font-weight: 100;
    padding-left: 0.1em;
}

#headings span{
    color: #000;
}

#headings h1{
    font-size: 2.5rem;
    font-weight: 100;
}

/* .scrolled{
    background-color: #f3ece9 !important;
    transition: background 400ms;
} */

@media (max-width: 1200px){
    #headings h1{
        font-size: 2rem;
        font-weight: 100;
    }    
}

/* Ingredient Cards */
.ingredientsList .col{
    padding-top: 1rem;
    padding-left: 2rem;
}

/* .ingredientsList .col .img{
    padding-top: 1rem;
    padding-left: 2rem;
} */

#chocolines{
    height: 2px;
    background-color:#7d0505;
    border: none;
}

/* .footer-linkL{
    color:white;
    margin: 0;
    margin-right: 20px;
    text-decoration: none;
    font-weight: 150;
    font-size: 1.2rem;
} */

#footer-linkG{
    margin: 0;
    text-decoration: none;
    font-weight: 150;
    font-size: 1.2rem;
    background-color: #Fefbea;
    color:#000;
}

#footer-linkG:hover {
    background-color: #000;
    border-color:#Fefbea;
    color: #Fefbea;
}

#copyright{
    margin-bottom: 0;
}

/* search bar */

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); */

.wrapper{
	min-height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-box{
	background: #000;
	position: relative;
	padding: 15px;
	border-radius: 50px;
	display: flex;
}

.search-box:hover > .input-search {
  width: 300px;
  padding: 15px 20px;
}

.search-box:hover > .search-btn {
  margin-right: 15px;
}

.search-box:focus-within > .input-search {
    width: 300px;
    padding: 15px 20px;
  }
  
  .search-box:focus-within > .search-btn {
    margin-right: 15px;
  }

.search-box .search-btn{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	margin-right: 0px;
	cursor: pointer;
  transition: 0.4s;
}

.search-box .input-search{
	outline: none;
	border: 0;
	background: #000;
	border-radius: 50px;
	padding: 0px 0px;
  width: 0px; 
  padding: 0px 0px;
  width: 0px;
	height: 50px;
	color: #fff;
  transition: 0.4s;
}

::placeholder {
  color: #fff;
}

::-webkit-input-placeholder {
  color: #fff;
}

:-ms-input-placeholder {
  color: #fff;
}